[Unit]
Description=Hoorch Volume Service
After=multi-user.target
After=sound.target
DefaultDependencies=false

[Service]
Type=idle
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/hoorch/adjust_volume.py


[Install]
WantedBy=multi-user.target
