[Unit]
Description=HOORCH Main Program
After=basic.target
After=sound.target
DefaultDependencies=false

[Service]
User=root
Type=simple
Restart=on-failure
WorkingDirectory=/home/pi/hoorch/
ExecStart=/usr/bin/python3 /home/pi/hoorch/hoorch.py

[Install]
WantedBy=basic.target
