[Unit]
Description=HOORCH Volume Service
After=multi-user.target
After=sound.target
DefaultDependencies=false

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/python3 /home/pi/hoorch/service_volume_control.py

[Install]
WantedBy=multi-user.target
