[Unit]
Description=Hoorch Main Program
After=basic.target
After=sound.target

[Service]
User=pi
Type=simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
Restart=on-failure
WorkingDirectory=/home/pi/hoorch/
ExecStart=/usr/bin/python3 /home/pi/hoorch/hoorch.py

[Install]
WantedBy=basic.target
