# Ignore everything in this directory, files and directories
/*
/*/
# Except this file and the directory /test
!.gitignore
!/test/
!/test/*
!/frau/
!/koenig/
!/magierin/
!/ritter/
!/roboter/
!/koenigin/